<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        var user=document.getElementById("name");
        var password=document.getElementById("pwd");
    </script>
    <style>
        #box {
            margin: auto;
            width: 300px;
            padding: 25px;
            margin: 25px;
            }

        #re{
            font-family:"Times New Roman";
            font-size:18px;
        }
    </style>
</head>
<body>
<div id="box">
    用户名：<input type="text" placeholder="请输入用户名" id="name">
    <br><br>
    密码：&nbsp;&nbsp;&nbsp;&nbsp;<input type="password" placeholder="请输入密码" id="pwd">
    <br><br>
    <button id="re" onclick="alert('注册成功')">注册</button>
</div>
</body>
</html>